/.HA_VERSION
*.bak
/custom_components/
/home-assistant.log
/home-assistant_v2.db
/storage/auth
/.storage/auth
/.storage/core.restore_state
/.storage/hacs/
/.storage/hacs.repositories
/.storage/mobile_app
/.storage/*_registry
