/.HA_VERSION
*.bak
/custom_components/
/home-assistant.log
/home-assistant_v2.db
/storage/auth
/.storage/auth
/.storage/core.restore_state
/.storage/hacs/
/.storage/hacs.repositories
/.storage/mobile_app
/ssh/
.storage/lovelace_resources
.storage/http
/secrets.yaml
/.storage/
/themes/
/www/
/zigbee.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/esphome/bath-mirror-light/
